<html ng-app="myApp">
    <head>
        <body>
            <div ng-controller="TestCtrl">
                <h1>{{title}}</h1>
                <input type="text" ng-model="title">
            </div>
            
            <script src="lib/jquery-1.11.3.min.js"></script>
            <script src="lib/angular.min.js"></script>
            
            <script>
                function TestCtrl($scope) {
                    $scope.title = 'eMail Angular JS App by Rev Obrera' ;
                } ;
            </script>
        </body>
    </head>
</html>